.containder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;
    height: 350px;
}
.titulo{
    color: black;
    
}
.subtitulo{
    color: black;
}
.conteudo{
    color: black;
    display: flex;
}
.rodape{
    color: black;
    display: flex;
    align-items:flex-end
}